<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alfresco.capture">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application>
        <activity
            android:name=".CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreviewActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>
