{"swagger":"2.0","info":{"description":"Alfresco Content API\n\nProvides access to the features of Alfresco Content Services.\n","version":"1","title":"Alfresco Content Services REST API"},"host":"www.alfresco.com","basePath":"/alfresco/api/-default-/public","tags":[{"name":"audit","description":"Retrieve and clear audit entries"},{"name":"actions","description":"Retrieve and execute actions"},{"name":"activities","description":"Retrieve and manage activities"},{"name":"comments","description":"Retrieve and manage comments"},{"name":"downloads","description":"Create and manage downloads"},{"name":"favorites","description":"Retrieve and manage favorites"},{"name":"networks","description":"Retrieve and manage networks"},{"name":"nodes","description":"Retrieve and manage nodes"},{"name":"people","description":"Retrieve and manage people"},{"name":"groups","description":"Retrieve and manage groups"},{"name":"preferences","description":"Retrieve and manage preferences"},{"name":"probes","description":"Check readiness and liveness of the repository"},{"name":"queries","description":"Find nodes, sites, and people using a simple search term"},{"name":"ratings","description":"Retrieve and manage ratings"},{"name":"renditions","description":"Retrieve and manage file renditions"},{"name":"shared-links","description":"Retrieve and manage public shared links"},{"name":"sites","description":"Retrieve and manage sites"},{"name":"tags","description":"Retrieve and manage tags"},{"name":"trashcan","description":"Retrieve and manage deleted nodes"},{"name":"versions","description":"Retrieve and manage versions"}],"consumes":["application/json"],"produces":["application/json"],"security":[{"basicAuth":[]}],"paths":{"/authentication/versions/1/tickets":{"post":{"tags":["authentication"],"summary":"Create ticket (login)","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nLogs in and returns the new authentication ticket.\n\nThe userId and password properties are mandatory in the request body. For example:\n```JSON\n{\n    \"userId\": \"jbloggs\",\n    \"password\": \"password\"\n}\n```\nTo use the ticket in future requests you should pass it in the request header.\nFor example using Javascript:\n  ```Javascript\n    request.setRequestHeader (\"Authorization\", \"Basic \" + btoa(ticket));\n  ```\n","operationId":"createTicket","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"ticketBodyCreate","description":"The user credential.","required":true,"schema":{"$ref":"#/definitions/TicketBody"}}],"responses":{"201":{"description":"Successful response","schema":{"$ref":"#/definitions/TicketEntry"}},"400":{"description":"**userId** or **password** is not provided\n"},"403":{"description":"Login failed"},"501":{"description":"SAML is enabled and enforced"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/authentication/versions/1/tickets/-me-":{"get":{"tags":["authentication"],"summary":"Validate ticket","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nValidates the specified ticket (derived from Authorization header) is still valid.\n\nFor example, you can pass the Authorization request header using Javascript:\n  ```Javascript\n    request.setRequestHeader (\"Authorization\", \"Basic \" + btoa(ticket));\n  ```\n","operationId":"validateTicket","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/ValidTicketEntry"}},"400":{"description":"URL path does not include **-me-** or the ticket is not provided by the Authorization header"},"401":{"description":"Authentication failed"},"404":{"description":"The request is authorized correctly but the status of the user (of the supplied ticket) has changed (for example, the user is locked or the account is disabled) or the ticket has expired"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"},"delete":{"tags":["authentication"],"summary":"Delete ticket (logout)","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nDeletes logged in ticket (logout).\n","operationId":"deleteTicket","parameters":[],"responses":{"204":{"description":"Successful response"},"400":{"description":"URL path does not include **-me-** or the ticket is not provided by the Authorization header"},"404":{"description":"Status of the user has changed (for example, the user is locked or the account is disabled) or the ticket has expired"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/search/versions/1/search":{"post":{"tags":["search"],"summary":"Searches Alfresco","description":"**Note**: this endpoint is available in Alfresco 5.2 and newer versions.\n\n**You specify all the parameters in this API in a JSON body**, URL parameters are not supported.\nA basic query looks like this:\n\n```JSON\n{\n  \"query\": {\n    \"query\": \"foo\"\n  }\n}\n```\n\n**Note:** These are the minimum possible query parameters.\n\nThe default search language is **afts** ([Alfresco Full Text Search](http://docs.alfresco.com/5.1/concepts/rm-searchsyntax-intro.html)), but you can also specify **cmis**, and **lucene**.\n\nA basic CMIS query looks like this:\n\n```JSON\n{\n  \"query\": {\n    \"query\": \"select * from cmis:folder\",\n    \"language\": \"cmis\"\n  }\n}\n```\n\nBy default, **results are limited to the first 100.**\nResults can be restricted using \"paging\". For example:\n```JSON\n\"paging\": {\n  \"maxItems\": \"50\",\n  \"skipCount\": \"28\"\n}\n```\nThis example would ensure that results are **limited by Final Size**,\nskipping the first 28 results and returning the next 50.\n\nAlternatively, you can limit the results by using the **limits JSON body parameter**. For example,\n```JSON\n\"limits\": {\n  \"permissionEvaluationTime\": 20000,\n  \"permissionEvaluationCount\": 2000\n}\n```\n\nYou can use the **include JSON body parameter** to return additional information.\nThis works in the same way as in the /nodes/{nodeId}/children method in the core API. For example:\n```JSON\n\"include\": [\"aspectNames\", \"properties\", \"isLink\"]\n```\n\nYou can use the **fields JSON body parameter** to restrict the fields returned within a response if, for example, you want to save on overall bandwidth.\nThis works in the same way as in the /nodes/{nodeId}/children method in the core API. For example:\n```JSON\n\"fields\": [\"id\", \"name\", \"search\"]\n```\n\nYou can sort the results using the **sort JSON body parameter**, for example:\n```JSON\n\"sort\": [{\"type\":\"FIELD\", \"field\":\"cm:description\", \"ascending\":\"true\"}]\n```\n**Note:** the **sort** parameter is not supported for CMIS queries.\n\nBy default, search uses the **\"nodes\" location**, which is the **content store known as workspace://SpacesStore**.\nTo change the scope to another location you can use the **locations JSON body parameter**. You can specify either **nodes** (the default), **versions** or **deleted-nodes**.  For example,\n```JSON\n\"scope\": {\n    \"locations\": [\"deleted-nodes\"]\n}\n```\nYou can specify templates using the **templates JSON body parameter**, for example:\n```JSON\n\"templates\": [{\"name\": \"_PERSON\",\"template\": \"|%firstName OR |%lastName OR |%userName\"},\n              {\"name\": \"mytemplate\",\"template\": \"%cm:content\"}]\n```\n\n**Note: Spell checking only works on Search Services (Solr 6) if you have already enabled suggestions.**\n\nFor **spell checking** you can use a query like this:\n```JSON\n{\n  \"query\": {\n    \"query\": \"cm:title:alfrezco\"\n  },\n  \"spellcheck\": {\"query\": \"alfrezco\"}\n}\n```\n\nIf you are already specifying \"userQuery\" then the following may be easier\nand produces the same result :\n```JSON\n{\n  \"query\": {\n    \"query\": \"cm:title:alfrezco\",\n    \"userQuery\": \"alfrezco\"\n  },\n  \"spellcheck\": {}\n}\n```\n\nThe spellcheck response includes a spellCheck context like this:\n```JSON\n\"context\": {\n  \"spellCheck\": {\n    \"type\": \"searchInsteadFor\",\n    \"suggestions\": [\"alfresco\"]\n  }\n},\n```\n\nTo specify defaults, you  use a **defaults JSON body parameter**, for example:\n```JSON\n\"defaults\": {\n  \"textAttributes\": [\n    \"cm:content\", \"cm:name\"\n  ],\n  \"defaultFTSOperator\": \"AND\",\n  \"defaultFTSFieldOperator\": \"OR\",\n  \"namespace\": \"cm\",\n  \"defaultFieldName\": \"PATH\"\n}\n```\n\nYou can specify several filter queries using the **filterQueries JSON body parameter**, for example:\n```JSON\n\"filterQueries\": [{\"query\": \"TYPE:'cm:folder'\"},{\"query\": \"cm:creator:mjackson\"}]\n```\n\nYou can specify several facet queries using the **facetQueries JSON body parameter**, for example:\n```JSON\n\"facetQueries\": [{\"query\": \"created:2016\",\"label\": \"CreatedThisYear\"}]\n```\nThe response will contain a matching \"context\" section, the \"label\" will match the facet query.\n```JSON\n\"context\": {\n  \"facetQueries\": [\n    {\"label\": \"CreatedThisYear\",\"count\": 3}\n  ]\n},\n```\n\nA complete query for facetting via the content.size field looks this:\n```JSON\n{\n  \"query\": {\n    \"query\": \"presentation\",\n    \"language\": \"afts\"\n  },\n    \"facetQueries\": [\n        {\"query\": \"content.size:[0 TO 10240]\", \"label\": \"xtra small\"},\n        {\"query\": \"content.size:[10240 TO 102400]\", \"label\": \"small\"},\n        {\"query\": \"content.size:[102400 TO 1048576]\", \"label\": \"medium\"},\n        {\"query\": \"content.size:[1048576 TO 16777216]\", \"label\": \"large\"},\n        {\"query\": \"content.size:[16777216 TO 134217728]\", \"label\": \"xtra large\"},\n        {\"query\": \"content.size:[134217728 TO MAX]\", \"label\": \"XX large\"}\n  ],\n    \"facetFields\": {\"facets\": [{\"field\": \"'content.size'\"}]}\n}\n```\n\nThe response will contain a matching \"context\" section, the \"label\" will match the facet query.\n```JSON\n\"context\": {\n  \"facetQueries\": [\n    { \"label\": \"small\",\"count\": 2 },\n    { \"label\": \"large\",\"count\": 0 },\n    { \"label\": \"xtra small\",\"count\": 5 },\n    { \"label\": \"xtra large\",\"count\": 56},\n    { \"label\": \"medium\",\"count\": 4 },\n    { \"label\": \"XX large\", \"count\": 1 }\n  ]\n},\n```\n\nYou can specify several facet fields using the **facetFields JSON body parameter**, for example:\n```JSON\n\"facetFields\": {\"facets\": [{\"field\": \"creator\", \"mincount\": 1}, {\"field\": \"modifier\", \"mincount\": 1}]}\n```\nThe response will contain a matching \"context\" section, the \"label\" will match the facet field.\n```JSON\n\"context\": {\n   \"facetsFields\": [\n     {  \"label\": \"creator\",\n        \"buckets\": [\n          { \"label\": \"System\", \"count\": 75 },\n          { \"label\": \"mjackson\", \"count\": 5 }\n        ]},\n     {  \"label\": \"modifier\",\n        \"buckets\": [\n          { \"label\": \"System\", \"count\": 72 },\n          { \"label\": \"mjackson\", \"count\": 5 },\n          { \"label\": \"admin\", \"count\": 3 }\n        ]}\n   ]\n},\n```\n\nGrouping facet queries that go together can be done by specifying the group label in the fact queries as follow:\n```JSON\n    {\n        \"query\": {\n            \"query\": \"presentation\"\n        },\n        \"facetQueries\": [\n            {\"query\": \"content.size:[0 TO 102400]\", \"label\": \"small\", \"group\":\"foo\"},\n            {\"query\": \"content.size:[102400 TO 1048576]\", \"label\": \"medium\",\"group\":\"foo\"},\n            {\"query\": \"content.size:[1048576 TO 16777216]\", \"label\": \"large\",\"group\":\"foo\"}\n        ]\n    }\n```\nThe above query returns the results a faceted field grouped under the label foo:\n```JSON\n{\n    \"context\": {\"facetsFields\": [{\n        \"label\": \"foo\",\n        \"buckets\": [\n            {\n                \"count\": 109,\n                \"label\": \"small\",\n                \"filterQuery\": \"content.size:[0 TO 102400]\"\n            },\n            {\n                \"count\": 0,\n                \"label\": \"large\",\n                \"filterQuery\": \"content.size:[1048576 TO 16777216]\"\n            },\n            {\n                \"count\": 0,\n                \"label\": \"medium\",\n                \"filterQuery\": \"content.size:[102400 TO 1048576]\"\n            }\n        ]\n    }]\n}\n```\nRange Faceting is supported by the **ranges JSON body parameter**, for example:\n```JSON\n    {\n        \"query\": {\n            \"query\": \"presentation\"\n        },\n        \"ranges\": [\n        {\n            \"field\": \"content.size\",\n             \"start\": \"0\",\n             \"end\": \"100\",\n             \"gap\": \"20\",\n             \"hardend\": true\n        },\n        {\n            \"field\": \"created\",\n            \"start\": \"2015-09-29T10:45:15.729Z\",\n            \"end\": \"2016-09-29T10:45:15.729Z\",\n            \"gap\": \"+100DAY\"\n        }]\n    }\n```\nAn example query for **search highlighting** could look like this:\n```JSON\n{\n  \"query\": {\n    \"query\": \"description:workflow\",\n    \"userQuery\":\"workflow\"\n  },\n  \"highlight\": {\n    \"prefix\": \"¿\",\n    \"postfix\": \"?\",\n    \"mergeContiguous\": true,\n    \"fields\": [\n      {\n        \"field\": \"cm:title\"\n      },\n      {\n        \"field\": \"description\",\n        \"prefix\": \"(\",\n        \"postfix\": \")\"\n      }\n\n    ]\n  }\n}\n```\nThe example above changes the highlighting prefix and postfix from the\n default <em> for all fields to ¿? and just for the \"description\" field to ().\n The hightlight information is added in each node entry response; here is\n an example partial response:\n```\n\"entry\": {\n        \"createdAt\": \"2016-10-12T15:24:31.202+0000\",\n        \"isFolder\": true,\n        \"search\": {\n          \"score\": 1,\n          \"highlight\": [\n            {\n              \"field\": \"cm:title\",\n              \"snippets\": [\n                \"Customized ¿Workflow? Process Definitions\"\n              ]\n            },\n            {\n              \"field\": \"description\",\n              \"snippets\": [\n                \"Customized (Workflow) Process Definitions\"\n              ]\n            }\n          ]\n      },\n```\n","operationId":"search","produces":["application/json"],"parameters":[{"in":"body","name":"queryBody","description":"Generic query API\n","required":true,"schema":{"$ref":"#/definitions/SearchRequest"}}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/ResultSetPaging"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/alfresco/versions/1/nodes/{nodeId}/comments":{"get":{"tags":["comments"],"summary":"List comments","description":"Gets a list of comments for the node **nodeId**, sorted chronologically with the newest comment first.","operationId":"listComments","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"skipCount","in":"query","description":"The number of entities that exist in the collection before those included in this list.\nIf not supplied then the default value is 0.\n","required":false,"type":"integer","default":0,"minimum":0},{"name":"maxItems","in":"query","description":"The maximum number of items to return in the list.\nIf not supplied then the default value is 100.\n","required":false,"type":"integer","default":100,"minimum":1},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/CommentPaging"}},"400":{"description":"Invalid parameter: **nodeId** exists but does not identify a file or a folder,\nor the value of **maxItems** is invalid, or the value of **skipCount** is invalid\n"},"401":{"description":"Authentication failed"},"403":{"description":"User does not have permission read comments on the node"},"404":{"description":"**nodeId** does not exist\n"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}},"post":{"tags":["comments"],"summary":"Create a comment","description":"Creates a comment on node **nodeId**. You specify the comment in a JSON body like this:\n\n```JSON\n{\n  \"content\": \"This is a comment\"\n}\n```\n\n**Note:** You can create more than one comment by\nspecifying a list of comments in the JSON body like this:\n\n```JSON\n[\n  {\n    \"content\": \"This is a comment\"\n  },\n  {\n    \"content\": \"This is another comment\"\n  }\n]\n```\nIf you specify a list as input, then a paginated list rather than an entry is returned in the response body. For example:\n\n```JSON\n{\n  \"list\": {\n    \"pagination\": {\n      \"count\": 2,\n      \"hasMoreItems\": false,\n      \"totalItems\": 2,\n      \"skipCount\": 0,\n      \"maxItems\": 100\n    },\n    \"entries\": [\n      {\n        \"entry\": {\n          ...\n        }\n      },\n      {\n        \"entry\": {\n          ...\n        }\n      }\n    ]\n  }\n}\n```\n","operationId":"createComment","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"in":"body","name":"commentBodyCreate","description":"The comment text. Note that you can also provide a list of comments.","required":true,"schema":{"$ref":"#/definitions/CommentBody"}}],"responses":{"201":{"description":"Successful response","schema":{"$ref":"#/definitions/CommentEntry"}},"400":{"description":"Invalid parameter: **commentBodyCreate** is invalid\n"},"401":{"description":"Authentication failed"},"403":{"description":"User does not have permission to create a comment"},"404":{"description":"**nodeId** does not exist\n"},"405":{"description":"Cannot comment on a node of this type"},"409":{"description":"**nodeId** is locked and you are not the lock owner\n"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/alfresco/versions/1/nodes/{nodeId}/comments/{commentId}":{"put":{"tags":["comments"],"summary":"Update a comment","description":"Updates an existing comment **commentId** on node **nodeId**.","operationId":"updateComment","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"commentId","in":"path","description":"The identifier of a comment.","required":true,"type":"string"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"in":"body","name":"commentBodyUpdate","description":"The JSON representing the comment to be updated.","required":true,"schema":{"$ref":"#/definitions/CommentBody"}}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/CommentEntry"}},"400":{"description":"Invalid parameter: **commentBodyUpdate** is invalid\n"},"401":{"description":"Authentication failed"},"403":{"description":"User does not have permission to update a comment"},"404":{"description":"**nodeId** or **commentId** does not exist\n"},"409":{"description":"**nodeId** is locked and you are not the lock owner\n"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}},"delete":{"tags":["comments"],"summary":"Delete a comment","description":"Deletes the comment **commentId** from node **nodeId**.","operationId":"deleteComment","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"commentId","in":"path","description":"The identifier of a comment.","required":true,"type":"string"}],"responses":{"204":{"description":"Successful response"},"401":{"description":"Authentication failed"},"403":{"description":"User does not have permission to delete a comment"},"404":{"description":"**nodeId** or **commentId** does not exist\n"},"409":{"description":"**nodeId** is locked and you are not the lock owner\n"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/alfresco/versions/1/nodes/{nodeId}/ratings":{"get":{"tags":["ratings"],"summary":"List ratings","description":"Gets a list of ratings for node **nodeId**.","operationId":"listRatings","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"skipCount","in":"query","description":"The number of entities that exist in the collection before those included in this list.\nIf not supplied then the default value is 0.\n","required":false,"type":"integer","default":0,"minimum":0},{"name":"maxItems","in":"query","description":"The maximum number of items to return in the list.\nIf not supplied then the default value is 100.\n","required":false,"type":"integer","default":100,"minimum":1},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/RatingPaging"}},"400":{"description":"Invalid parameter: value of **maxItems** or **skipCount** is invalid\n"},"401":{"description":"Authentication failed"},"404":{"description":"**nodeId** does not exist\n"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}},"post":{"tags":["ratings"],"summary":"Create a rating","description":"Create a rating for the node with identifier **nodeId**","operationId":"createRating","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"in":"body","name":"ratingBodyCreate","description":"For \"myRating\" the type is specific to the rating scheme, boolean for the likes and an integer for the fiveStar.\n\nFor example, to \"like\" a file the following body would be used:\n\n```JSON\n  {\n    \"id\": \"likes\",\n    \"myRating\": true\n  }\n```\n","required":true,"schema":{"$ref":"#/definitions/RatingBody"}}],"responses":{"201":{"description":"Successful response","schema":{"$ref":"#/definitions/RatingEntry"}},"400":{"description":"Invalid parameter: **ratingBodyCreate** is invalid\n"},"401":{"description":"Authentication failed"},"404":{"description":"**nodeId** does not exist\n"},"405":{"description":"Cannot rate a node of this type"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/alfresco/versions/1/nodes/{nodeId}/ratings/{ratingId}":{"get":{"tags":["ratings"],"summary":"Get a rating","description":"Get the specific rating **ratingId** on node **nodeId**.","operationId":"getRating","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"ratingId","in":"path","description":"The identifier of a rating.","required":true,"type":"string"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/RatingEntry"}},"400":{"description":"Invalid parameter: unknown rating scheme specified\n"},"401":{"description":"Authentication failed"},"404":{"description":"**nodeId** does not exist\n"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}},"delete":{"tags":["ratings"],"summary":"Delete a rating","description":"Deletes rating **ratingId** from node **nodeId**.","operationId":"deleteRating","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"ratingId","in":"path","description":"The identifier of a rating.","required":true,"type":"string"}],"responses":{"204":{"description":"Successful response"},"400":{"description":"Invalid parameter: unknown rating scheme specified\n"},"401":{"description":"Authentication failed"},"404":{"description":"**nodeId** does not exist\n"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/alfresco/versions/1/nodes/{nodeId}/tags":{"get":{"tags":["tags"],"summary":"List tags for a node","description":"Gets a list of tags for node **nodeId**.","operationId":"listTagsForNode","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"skipCount","in":"query","description":"The number of entities that exist in the collection before those included in this list.\nIf not supplied then the default value is 0.\n","required":false,"type":"integer","default":0,"minimum":0},{"name":"maxItems","in":"query","description":"The maximum number of items to return in the list.\nIf not supplied then the default value is 100.\n","required":false,"type":"integer","default":100,"minimum":1},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/TagPaging"}},"400":{"description":"Invalid parameter: value of **maxItems** or **skipCount** is invalid\n"},"401":{"description":"Authentication failed"},"403":{"description":"User does not have permission to read tags on the node"},"404":{"description":"**nodeId** does not exist\n"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}},"post":{"tags":["tags"],"summary":"Create a tag for a node","description":"Creates a tag on the node **nodeId**. You specify the tag in a JSON body like this:\n\n```JSON\n{\n  \"tag\":\"test-tag-1\"\n}\n```\n\n**Note:** You can create more than one tag by\nspecifying a list of tags in the JSON body like this:\n\n```JSON\n[\n  {\n    \"tag\":\"test-tag-1\"\n  },\n  {\n    \"tag\":\"test-tag-2\"\n  }\n]\n```\nIf you specify a list as input, then a paginated list rather than an entry is returned in the response body. For example:\n\n```JSON\n{\n  \"list\": {\n    \"pagination\": {\n      \"count\": 2,\n      \"hasMoreItems\": false,\n      \"totalItems\": 2,\n      \"skipCount\": 0,\n      \"maxItems\": 100\n    },\n    \"entries\": [\n      {\n        \"entry\": {\n          ...\n        }\n      },\n      {\n        \"entry\": {\n         ...\n        }\n      }\n    ]\n  }\n}\n```\n","operationId":"createTagForNode","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"in":"body","name":"tagBodyCreate","description":"The new tag","required":true,"schema":{"$ref":"#/definitions/TagBody"}}],"responses":{"201":{"description":"Successful response","schema":{"$ref":"#/definitions/TagEntry"}},"400":{"description":"Invalid parameter: **tagBodyCreate** is invalid\n"},"401":{"description":"Authentication failed"},"403":{"description":"User does not have permission to create tags on the node"},"404":{"description":"**nodeId** does not exist\n"},"405":{"description":"Cannot tag a node of this type"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/alfresco/versions/1/nodes/{nodeId}/tags/{tagId}":{"delete":{"tags":["tags"],"summary":"Delete a tag from a node","description":"Deletes tag **tagId** from node **nodeId**.","operationId":"deleteTagFromNode","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"tagId","in":"path","description":"The identifier of a tag.","required":true,"type":"string"}],"responses":{"204":{"description":"Successful response"},"401":{"description":"Authentication failed"},"403":{"description":"User does not have permission to delete the tag"},"404":{"description":"**nodeId** or **tagId** does not exist\n"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/alfresco/versions/1/nodes/{nodeId}":{"get":{"tags":["nodes"],"summary":"Get a node","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nGet information for node **nodeId**.\n\nYou can use the **include** parameter to return additional information.\n","operationId":"getNode","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node. You can also use one of these well-known aliases:\n* -my-\n* -shared-\n* -root-\n","required":true,"type":"string"},{"name":"include","in":"query","description":"Returns additional information about the node. The following optional fields can be requested:\n* allowableOperations\n* association\n* isLink\n* isFavorite\n* isLocked\n* path\n* permissions\n* definition\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"relativePath","in":"query","description":"A path relative to the **nodeId**. If you set this,\ninformation is returned on the node resolved by this path.\n","required":false,"type":"string"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/NodeEntry"}},"400":{"description":"Invalid parameter: **nodeId** is not a valid format\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission to retrieve **nodeId**"},"404":{"description":"**nodeId** does not exist\n"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"},"put":{"tags":["nodes"],"summary":"Update a node","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nUpdates the node **nodeId**. For example, you can rename a file or folder:\n```JSON\n{\n  \"name\":\"My new name\"\n}\n```\nYou can also set or update one or more properties:\n```JSON\n{\n  \"properties\":\n  {\n    \"cm:title\":\"Folder title\"\n  }\n}\n```\nYou can update multi-value properties of a node which supports properties of type multiple.\n ```JSON\n{\n  \"name\":\"My Other Folder\",\n  \"nodeType\":\"custom:destination\",\n  \"properties\":\n  {\n    \"cm:title\":\"Folder title\",\n    \"cm:description\":\"This is an important folder\",\n    \"custom:locations\": [\n                         \"location NewX\",\n                         \"location NewY\"\n                        ]\n  }\n}\n```\n\n**Note:** setting properties of type d:content and d:category are not supported.\n\n**Note:** if you want to add or remove aspects, then you must use **GET /nodes/{nodeId}** first to get the complete set of *aspectNames*.\n\nYou can add (or remove) *locallySet* permissions, if any, in addition to any inherited permissions.\nYou can also optionally disable (or re-enable) inherited permissions via *isInheritanceEnabled* flag:\n```JSON\n{\n  \"permissions\":\n    {\n      \"isInheritanceEnabled\": false,\n      \"locallySet\":\n        [\n          {\"authorityId\": \"GROUP_special\", \"name\": \"Read\", \"accessStatus\":\"DENIED\"},\n          {\"authorityId\": \"testuser\", \"name\": \"Contributor\", \"accessStatus\":\"ALLOWED\"}\n        ]\n    }\n}\n```\n**Note:** if you want to add or remove locally set permissions then you must use **GET /nodes/{nodeId}** first to get the complete set of *locallySet* permissions.\n\n**Note:** Currently there is no optimistic locking for updates, so they are applied in \"last one wins\" order.\n","operationId":"updateNode","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"include","in":"query","description":"Returns additional information about the node. The following optional fields can be requested:\n* allowableOperations\n* association\n* isLink\n* isFavorite\n* isLocked\n* path\n* permissions\n* definition\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"in":"body","name":"nodeBodyUpdate","description":"The node information to update.","required":true,"schema":{"$ref":"#/definitions/NodeBodyUpdate"}}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/NodeEntry"}},"400":{"description":"Invalid parameter: the update request is invalid or **nodeId** is not a valid format or **nodeBodyUpdate** is invalid\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission to update **nodeId**"},"404":{"description":"**nodeId** does not exist\n"},"409":{"description":"Updated name clashes with an existing node in the current parent folder"},"422":{"description":"Model integrity exception including a file name containing invalid characters"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"},"delete":{"tags":["nodes"],"summary":"Delete a node","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nDeletes the node **nodeId**.\n\nIf **nodeId** is a folder, then its children are also deleted.\n\nDeleted nodes move to the trashcan unless the **permanent** query parameter is **true** and the current user is the owner of the node or an admin.\n\nDeleting a node deletes it from its primary parent and also from any secondary parents. Peer associations are also deleted, where the deleted\nnode is either a source or target of an association. This applies recursively to any hierarchy of primary children of the deleted node.\n\n**Note:** If the node is not permanently deleted, and is later successfully restored to its former primary parent, then the primary\nchild association is restored. This applies recursively for any primary children. No other secondary child associations or\npeer associations are restored for any of the nodes in the primary parent-child hierarchy of restored nodes, regardless of whether the original\nassociations were to nodes inside or outside the restored hierarchy.\n","operationId":"deleteNode","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"permanent","in":"query","description":"If **true** then the node is deleted permanently, without moving to the trashcan.\nOnly the owner of the node or an admin can permanently delete the node.\n","required":false,"type":"boolean","default":false}],"responses":{"204":{"description":"Successful response"},"400":{"description":"Invalid parameter: **nodeId** is not a valid format\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission to delete **nodeId**"},"404":{"description":"**nodeId** does not exist\n"},"409":{"description":"**nodeId** is locked and cannot be deleted\n"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/alfresco/versions/1/nodes/{nodeId}/children":{"get":{"tags":["nodes"],"summary":"List node children","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nGets a list of children of the parent node **nodeId**.\n\nMinimal information for each child is returned by default.\n\nYou can use the **include** parameter to return additional information.\n\nThe list of child nodes includes primary children and secondary children, if there are any.\n\nYou can use the **include** parameter (include=association) to return child association details\nfor each child, including the **assocTyp**e and the **isPrimary** flag.\n\nThe default sort order for the returned list is for folders to be sorted before files, and by ascending name.\n\nYou can override the default using **orderBy** to specify one or more fields to sort by. The default order is always ascending, but\nyou can use an optional **ASC** or **DESC** modifier to specify an ascending or descending sort order.\n\nFor example, specifying ```orderBy=name DESC``` returns a mixed folder/file list in descending **name** order.\n\nYou can use any of the following fields to order the results:\n* isFolder\n* name\n* mimeType\n* nodeType\n* sizeInBytes\n* modifiedAt\n* createdAt\n* modifiedByUser\n* createdByUser\n","operationId":"listNodeChildren","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node. You can also use one of these well-known aliases:\n* -my-\n* -shared-\n* -root-\n","required":true,"type":"string"},{"name":"skipCount","in":"query","description":"The number of entities that exist in the collection before those included in this list.\nIf not supplied then the default value is 0.\n","required":false,"type":"integer","default":0,"minimum":0},{"name":"maxItems","in":"query","description":"The maximum number of items to return in the list.\nIf not supplied then the default value is 100.\n","required":false,"type":"integer","default":100,"minimum":1},{"name":"orderBy","in":"query","description":"A string to control the order of the entities returned in a list. You can use the **orderBy** parameter to\nsort the list by one or more fields.\n\nEach field has a default sort order, which is normally ascending order. Read the API method implementation notes\nabove to check if any fields used in this method have a descending default search order.\n\nTo sort the entities in a specific order, you can use the **ASC** and **DESC** keywords for any field.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"where","in":"query","description":"Optionally filter the list. Here are some examples:\n\n*   ```where=(isFolder=true)```\n\n*   ```where=(isFile=true)```\n\n*   ```where=(nodeType='my:specialNodeType')```\n\n*   ```where=(nodeType='my:specialNodeType INCLUDESUBTYPES')```\n\n*   ```where=(isPrimary=true)```\n\n*   ```where=(assocType='my:specialAssocType')```\n\n*   ```where=(isPrimary=false and assocType='my:specialAssocType')```\n","required":false,"type":"string"},{"name":"include","in":"query","description":"Returns additional information about the node. The following optional fields can be requested:\n* allowableOperations\n* aspectNames\n* association\n* isLink\n* isFavorite\n* isLocked\n* path\n* properties\n* permissions\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"relativePath","in":"query","description":"Return information on children in the folder resolved by this path. The path is relative to **nodeId**.","required":false,"type":"string"},{"name":"includeSource","in":"query","description":"Also include **source** in addition to **entries** with folder information on the parent node – either the specified parent **nodeId**, or as resolved by **relativePath**.","required":false,"type":"boolean"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/NodeChildAssociationPaging"}},"400":{"description":"Invalid parameter: **nodeId** is not a valid format, **nodeId** is not a folder or **orderBy** is invalid\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission to retrieve children of **nodeId**"},"404":{"description":"**nodeId** does not exist\n"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"},"post":{"tags":["nodes"],"summary":"Create a node","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nCreate a node and add it as a primary child of node **nodeId**.\n\nThis endpoint supports both JSON and multipart/form-data (file upload).\n\n**Using multipart/form-data**\n\nUse the **filedata** field to represent the content to upload, for example, the following curl command will\ncreate a node with the contents of test.txt in the test user's home folder.\n\n```curl -utest:test -X POST host:port/alfresco/api/-default-/public/alfresco/versions/1/nodes/-my-/children -F filedata=@test.txt```\n\nYou can use the **name** field to give an alternative name for the new file.\n\nYou can use the **nodeType** field to create a specific type. The default is cm:content.\n\nYou can use the **renditions** field to create renditions (e.g. doclib) asynchronously upon upload.\nAlso, as requesting rendition is a background process,\nany rendition failure (e.g. No transformer is currently available) will not fail the whole upload and has the potential to silently fail.\n\nUse **overwrite** to overwrite an existing file, matched by name. If the file is versionable,\nthe existing content is replaced.\n\nWhen you overwrite existing content, you can set the **majorVersion** boolean field to **true** to indicate a major version\nshould be created. The default for **majorVersion** is **false**.\nSetting  **majorVersion** enables versioning of the node, if it is not already versioned.\n\nWhen you overwrite existing content, you can use the **comment** field to add a version comment that appears in the\nversion history. This also enables versioning of this node, if it is not already versioned.\n\nYou can set the **autoRename** boolean field to automatically resolve name clashes. If there is a name clash, then\nthe API method tries to create a unique name using an integer suffix.\n\nYou can use the **relativePath** field to specify the folder structure to create relative to the node **nodeId**.\nFolders in the **relativePath** that do not exist are created before the node is created.\n\nAny other field provided will be treated as a property to set on the newly created node.\n\n**Note:** setting properties of type d:content and d:category are not supported.\n\n**Note:** When creating a new node using multipart/form-data by default versioning is enabled and set to MAJOR Version.\nSince Alfresco 6.2.3 **versioningEnabled** flag was introduced offering better control over the new node Versioning.\n\n| **versioningEnabled** | **majorVersion** | **Version Type** |\n|-----------------------|------------------|------------------|\n|        unset          |        unset     |    MAJOR         |\n|        unset          |        true      |    MAJOR         |\n|        unset          |        false     |    MINOR         |\n|        true           |        unset     |    MAJOR         |\n|        true           |        true      |    MAJOR         |\n|        true           |        false     |    MINOR         |\n|        false          |        true      |    Unversioned   |\n|        false          |        false     |    Unversioned   |\n|        false          |        true      |    Unversioned   |\n<br>\n\n**Using JSON**\n\nYou must specify at least a **name** and **nodeType**. For example, to create a folder:\n```JSON\n{\n  \"name\":\"My Folder\",\n  \"nodeType\":\"cm:folder\"\n}\n```\n\nYou can create an empty file like this:\n```JSON\n{\n  \"name\":\"My text file.txt\",\n  \"nodeType\":\"cm:content\"\n}\n```\nYou can update binary content using the ```PUT /nodes/{nodeId}``` API method.\n\nYou can create a folder, or other node, inside a folder hierarchy:\n```JSON\n{\n  \"name\":\"My Special Folder\",\n  \"nodeType\":\"cm:folder\",\n  \"relativePath\":\"X/Y/Z\"\n}\n```\nThe **relativePath** specifies the folder structure to create relative to the node **nodeId**. Folders in the\n**relativePath** that do not exist are created before the node is created.\n\nYou can set properties when you create a new node:\n```JSON\n{\n  \"name\":\"My Other Folder\",\n  \"nodeType\":\"cm:folder\",\n  \"properties\":\n  {\n    \"cm:title\":\"Folder title\",\n    \"cm:description\":\"This is an important folder\"\n  }\n}\n```\n\nYou can set multi-value properties when you create a new node which supports properties of type multiple.\n ```JSON\n{\n  \"name\":\"My Other Folder\",\n  \"nodeType\":\"custom:destination\",\n  \"properties\":\n  {\n    \"cm:title\":\"Folder title\",\n    \"cm:description\":\"This is an important folder\",\n    \"custom:locations\": [\n                         \"location X\",\n                         \"location Y\"\n                        ]\n  }\n}\n```\n\nAny missing aspects are applied automatically. For example, **cm:titled** in the JSON shown above. You can set aspects\nexplicitly, if needed, using an **aspectNames** field.\n\n**Note:** setting properties of type d:content and d:category are not supported.\n\nYou can also optionally disable (or enable) inherited permissions via *isInheritanceEnabled* flag:\n```JSON\n{\n  \"permissions\":\n    {\n      \"isInheritanceEnabled\": false,\n      \"locallySet\":\n        [\n          {\"authorityId\": \"GROUP_special\", \"name\": \"Read\", \"accessStatus\":\"DENIED\"},\n          {\"authorityId\": \"testuser\", \"name\": \"Contributor\", \"accessStatus\":\"ALLOWED\"}\n        ]\n    }\n}\n```\n\nTypically, for files and folders, the primary children are created within the parent folder using the default \"cm:contains\" assocType.\nIf the content model allows then it is also possible to create primary children with a different assoc type. For example:\n```JSON\n{\n  \"name\":\"My Node\",\n  \"nodeType\":\"my:specialNodeType\",\n  \"association\":\n  {\n    \"assocType\":\"my:specialAssocType\"\n  }\n}\n```\n\nAdditional associations can be added after creating a node. You can also add associations at the time the node is created. This is\nrequired, for example, if the content model specifies that a node has mandatory associations to one or more existing nodes. You can optionally\nspecify an array of **secondaryChildren** to create one or more secondary child associations, such that the newly created node acts as a parent node.\nYou can optionally specify an array of **targets** to create one or more peer associations such that the newly created node acts as a source node.\nFor example, to associate one or more secondary children at time of creation:\n```JSON\n{\n  \"name\":\"My Folder\",\n  \"nodeType\":\"cm:folder\",\n  \"secondaryChildren\":\n    [ {\"childId\":\"abcde-01234-...\", \"assocType\":\"my:specialChildAssocType\"} ]\n}\n```\nFor example, to associate one or more targets at time of creation:\n```JSON\n{\n  \"name\":\"My Folder\",\n  \"nodeType\":\"cm:folder\",\n  \"targets\":\n    [ {\"targetId\":\"abcde-01234-...\", \"assocType\":\"my:specialPeerAssocType\"} ]\n}\n```\n\n**Note:** You can create more than one child by\nspecifying a list of nodes in the JSON body. For example, the following JSON\nbody creates two folders inside the specified **nodeId**, if the **nodeId** identifies\na folder:\n\n```JSON\n[\n  {\n    \"name\":\"My Folder 1\",\n    \"nodeType\":\"cm:folder\"\n  },\n  {\n    \"name\":\"My Folder 2\",\n    \"nodeType\":\"cm:folder\"\n  }\n]\n```\nIf you specify a list as input, then a paginated list rather than an entry is returned in the response body. For example:\n\n```JSON\n{\n  \"list\": {\n    \"pagination\": {\n      \"count\": 2,\n      \"hasMoreItems\": false,\n      \"totalItems\": 2,\n      \"skipCount\": 0,\n      \"maxItems\": 100\n    },\n    \"entries\": [\n      {\n        \"entry\": {\n          ...\n        }\n      },\n      {\n        \"entry\": {\n          ...\n        }\n      }\n    ]\n  }\n}\n```\n**Note:** When creating a new node using JSON by default versioning is disabled.\nSince Alfresco 6.2.3 **versioningEnabled** flag was introduced offering better control over the new node Versioning.\n\n| **versioningEnabled** | **majorVersion** | **Version Type** |\n|-----------------------|------------------|------------------|\n|        unset          |        unset     |    Unversioned   |\n|        unset          |        true      |    MAJOR         |\n|        unset          |        false     |    MINOR         |\n|        true           |        unset     |    MAJOR         |\n|        true           |        true      |    MAJOR         |\n|        true           |        false     |    MINOR         |\n|        false          |        true      |    Unversioned   |\n|        false          |        false     |    Unversioned   |\n|        false          |        true      |    Unversioned   |\n<br>\n","operationId":"createNode","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node. You can also use one of these well-known aliases:\n* -my-\n* -shared-\n* -root-\n","required":true,"type":"string"},{"name":"autoRename","in":"query","description":"If true, then  a name clash will cause an attempt to auto rename by finding a unique name using an integer suffix.","required":false,"type":"boolean"},{"name":"majorVersion","in":"query","description":"If true, then created node will be version *1.0 MAJOR*. If false, then created node will be version *0.1 MINOR*.","required":false,"type":"boolean"},{"name":"versioningEnabled","in":"query","description":"If true, then created node will be versioned. If false, then created node will be unversioned and auto-versioning disabled.","required":false,"type":"boolean"},{"name":"include","in":"query","description":"Returns additional information about the node. The following optional fields can be requested:\n* allowableOperations\n* association\n* isLink\n* isFavorite\n* isLocked\n* path\n* permissions\n* definition\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"in":"body","name":"nodeBodyCreate","description":"The node information to create.","required":true,"schema":{"$ref":"#/definitions/NodeBodyCreate"}}],"responses":{"201":{"description":"Successful response","schema":{"$ref":"#/definitions/NodeEntry"}},"400":{"description":"Invalid parameter: **nodeId** is not a valid format or **nodeBodyCreate** is invalid\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission to create children of **nodeId**"},"404":{"description":"**nodeId** or **renditionId** does not exist\n"},"409":{"description":"New name clashes with an existing node in the current parent folder"},"413":{"description":"Content exceeds individual file size limit configured for the network or system"},"415":{"description":"Content Type is not supported"},"422":{"description":"Model integrity exception including a file name containing invalid characters"},"507":{"description":"Content exceeds overall storage quota limit configured for the network or system"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/alfresco/versions/1/nodes/{nodeId}/copy":{"post":{"tags":["nodes"],"summary":"Copy a node","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nCopies the node **nodeId** to the parent folder node **targetParentId**. You specify the **targetParentId** in the request body.\n\nThe new node has the same name as the source node unless you specify a new **name** in the request body.\n\nIf the source **nodeId** is a folder, then all of its children are also copied.\n\nIf the source **nodeId** is a file, it's properties, aspects and tags are copied, it's ratings, comments and locks are not.\n","operationId":"copyNode","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"include","in":"query","description":"Returns additional information about the node. The following optional fields can be requested:\n* allowableOperations\n* association\n* isLink\n* isFavorite\n* isLocked\n* path\n* permissions\n* definition\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"in":"body","name":"nodeBodyCopy","description":"The targetParentId and, optionally, a new name which should include the file extension.","required":true,"schema":{"$ref":"#/definitions/NodeBodyCopy"}}],"responses":{"201":{"description":"Successful response","schema":{"$ref":"#/definitions/NodeEntry"}},"400":{"description":"Invalid parameter: **nodeId** is not a valid format or **nodeBodyCopy** is invalid\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission to copy **nodeId**"},"404":{"description":"**nodeId** does not exist\n"},"409":{"description":"New name clashes with an existing node in the destination parent folder"},"422":{"description":"Model integrity exception including a file name containing invalid characters"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/alfresco/versions/1/nodes/{nodeId}/lock":{"post":{"tags":["nodes"],"summary":"Lock a node","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nPlaces a lock on node **nodeId**.\n\n**Note:** you can only lock files. More specifically, a node can only be locked if it is\nof type `cm:content` or a subtype of `cm:content`.\n\nThe lock is owned by the current user, and prevents other users or processes from making updates to the node until the lock is released.\n\nIf the **timeToExpire** is not set or is zero, then the lock never expires.  Otherwise, the **timeToExpire** is the number of seconds before the lock expires.\n\nWhen a lock expires, the lock is released.\n\nIf the node is already locked, and the user is the lock owner, then the lock is renewed with the new **timeToExpire**.\n\nBy default, a lock is applied that allows the owner to update or delete the node.\nYou can use **type** to change the lock type to one of the following:\n* **ALLOW_OWNER_CHANGES** (default) changes to the node can be made only by the lock owner. This enum is the same value as the deprecated WRITE_LOCK described in `org.alfresco.service.cmr.lock.LockType` in the Alfresco Public Java API. This is the default value.\n* **FULL** no changes by any user are allowed. This enum is the same value as the deprecated READ_ONLY_LOCK described in `org.alfresco.service.cmr.lock.LockType` in the Alfresco Public Java API.\n\nBy default, a lock is persisted in the database. You can create a volatile in-memory lock by setting the **lifetime** property to EPHEMERAL.\nYou might choose use EPHEMERAL locks, for example, if you are taking frequent short-term locks that you don't need\nto be kept over a restart of the repository. In this case you don't need the\noverhead of writing the locks to the database.\n\nIf a lock on the node cannot be taken, then an error is returned.\n","operationId":"lockNode","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"include","in":"query","description":"Returns additional information about the node. The following optional fields can be requested:\n* allowableOperations\n* association\n* isLink\n* isFavorite\n* isLocked\n* path\n* permissions\n* definition\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"in":"body","name":"nodeBodyLock","description":"Lock details.","required":true,"schema":{"$ref":"#/definitions/NodeBodyLock"}}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/NodeEntry"}},"400":{"description":"Invalid parameter: **nodeId** is not a valid format, or **nodeBodyLock** is invalid,\nor a lock was attempted on a node that is not a file\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission to lock **nodeId**\n"},"404":{"description":"**nodeId** does not exist\n"},"422":{"description":"**nodeId** could not be locked\n"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/alfresco/versions/1/nodes/{nodeId}/unlock":{"post":{"tags":["nodes"],"summary":"Unlock a node","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nDeletes a lock on node **nodeId**.\n\nThe current user must be the owner of the locks or have admin rights, otherwise an error is returned.\n\nIf a lock on the node cannot be released, then an error is returned.\n","operationId":"unlockNode","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"include","in":"query","description":"Returns additional information about the node. The following optional fields can be requested:\n* allowableOperations\n* association\n* isLink\n* isFavorite\n* isLocked\n* path\n* permissions\n* definition\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/NodeEntry"}},"400":{"description":"Invalid parameter: **nodeId** is not a valid format\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission to unlock **nodeId**\n"},"404":{"description":"**nodeId** does not exist\n"},"422":{"description":"**nodeId** could not be unlocked\n"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/alfresco/versions/1/nodes/{nodeId}/move":{"post":{"tags":["nodes"],"summary":"Move a node","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nMove the node **nodeId** to the parent folder node **targetParentId**.\n\nThe **targetParentId** is specified in the in request body.\n\nThe moved node retains its name unless you specify a new **name** in the request body.\n\nIf the source **nodeId** is a folder, then its children are also moved.\n\nThe move will effectively change the primary parent.\n","operationId":"moveNode","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"include","in":"query","description":"Returns additional information about the node. The following optional fields can be requested:\n* allowableOperations\n* association\n* isLink\n* isFavorite\n* isLocked\n* path\n* permissions\n* definition\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"in":"body","name":"nodeBodyMove","description":"The targetParentId and, optionally, a new name which should include the file extension.","required":true,"schema":{"$ref":"#/definitions/NodeBodyMove"}}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/NodeEntry"}},"400":{"description":"Invalid parameter: **nodeId** is not a valid format, or **targetParentId** is not a folder,\nor **nodeBodyMove** is invalid\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission to move **nodeId**"},"404":{"description":"**nodeId** does not exist\n"},"409":{"description":"New name clashes with an existing node in the destination parent folder"},"422":{"description":"Model integrity exception including a file name containing invalid characters"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/alfresco/versions/1/nodes/{nodeId}/content":{"get":{"tags":["nodes"],"summary":"Get node content","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nGets the content of the node with identifier **nodeId**.\n","operationId":"getNodeContent","produces":["application/octet-stream"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"attachment","in":"query","description":"**true** enables a web browser to download the file as an attachment.\n**false** means a web browser may preview the file in a new tab or window, but not\ndownload the file.\n\nYou can only set this parameter to **false** if the content type of the file is in the supported list;\nfor example, certain image files and PDF files.\n\nIf the content type is not supported for preview, then a value of **false**  is ignored, and\nthe attachment will be returned in the response.\n","required":false,"type":"boolean","default":true},{"name":"If-Modified-Since","in":"header","description":"Only returns the content if it has been modified since the date provided.\nUse the date format defined by HTTP. For example, `Wed, 09 Mar 2016 16:56:34 GMT`.\n","required":false,"type":"string","format":"date-time"},{"name":"Range","in":"header","description":"The Range header indicates the part of a document that the server should return.\nSingle part request supported, for example: bytes=1-10.\n","required":false,"type":"string","format":"bytes"}],"responses":{"200":{"description":"Successful response","schema":{"type":"file"}},"206":{"description":"Partial Content"},"304":{"description":"Content has not been modified since the date provided in the If-Modified-Since header"},"400":{"description":"Invalid parameter: **nodeId** is not a valid format, or is not a file\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission to retrieve content of **nodeId**"},"404":{"description":"**nodeId** does not exist\n"},"416":{"description":"Range Not Satisfiable\n"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"},"put":{"tags":["nodes"],"summary":"Update node content","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nUpdates the content of the node with identifier **nodeId**.\n\nThe request body for this endpoint can be any text or binary stream.\n\nThe **majorVersion** and **comment** parameters can be used to control versioning behaviour. If the content is versionable,\na new minor version is created by default.\n\nOptionally a new **name** parameter can also be specified that must be unique within the parent folder. If specified and valid then this\nwill rename the node. If invalid then an error is returned and the content is not updated.\n\n**Note:** This API method accepts any content type, but for testing with this tool text based content can be provided.\nThis is because the OpenAPI Specification does not allow a wildcard to be provided or the ability for\ntooling to accept an arbitrary file.\n","operationId":"updateNodeContent","consumes":["application/octet-stream"],"produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"majorVersion","in":"query","description":"If **true**, create a major version.\nSetting this parameter also enables versioning of this node, if it is not already versioned.\n","required":false,"type":"boolean","default":false},{"name":"comment","in":"query","description":"Add a version comment which will appear in version history.\nSetting this parameter also enables versioning of this node, if it is not already versioned.\n","required":false,"type":"string"},{"name":"name","in":"query","description":"Optional new name. This should include the file extension.\nThe name must not contain spaces or the following special characters: * \" < > \\ / ? : and |.\nThe character `.` must not be used at the end of the name.\n","required":false,"type":"string","pattern":"^(?!(.*[\\\"\\*\\\\\\>\\<\\?\\/\\:\\|]+.*)|(.*[\\.]?.*[\\.]+$)|(.*[ ]+$))"},{"name":"include","in":"query","description":"Returns additional information about the node. The following optional fields can be requested:\n* allowableOperations\n* association\n* isLink\n* isFavorite\n* isLocked\n* path\n* permissions\n* definition\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"in":"body","name":"contentBodyUpdate","description":"The binary content","required":true,"schema":{"type":"string","format":"binary"}}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/NodeEntry"}},"400":{"description":"Invalid parameter: **nodeId** is not a valid format, or is not a file\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission to update **nodeId**"},"404":{"description":"**nodeId** does not exist\n"},"409":{"description":"Optional new name clashes with an existing node in the current parent folder"},"413":{"description":"Content exceeds individual file size limit (configured for network/system)"},"422":{"description":"Model integrity exception including a file name containing invalid characters"},"507":{"description":"Content exceeds overall storage quota limit configured for the network/system"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/alfresco/versions/1/nodes/{nodeId}/renditions":{"get":{"tags":["renditions"],"summary":"List renditions","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nGets a list of the rendition information for each rendition of the the file **nodeId**, including the rendition id.\n\nEach rendition returned has a **status**: CREATED means it is available to view or download, NOT_CREATED means the rendition can be requested.\n\nYou can use the **where** parameter to filter the returned renditions by **status**. For example, the following **where**\nclause will return just the CREATED renditions:\n\n```\n(status='CREATED')\n```\n","operationId":"listRenditions","parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"where","in":"query","description":"A string to restrict the returned objects by using a predicate.","required":false,"type":"string"}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/RenditionPaging"}},"400":{"description":"Invalid parameter: **nodeId** is not a valid format, is not a file, or **where** is invalid\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission for **nodeId**"},"404":{"description":"**nodeId** does not exist\n"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"},"post":{"tags":["renditions"],"summary":"Create rendition","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nAn asynchronous request to create a rendition for file **nodeId**.\n\nThe rendition is specified by name **id** in the request body:\n```JSON\n{\n  \"id\":\"doclib\"\n}\n```\n Multiple names may be specified as a comma separated list or using a list format:\n```JSON\n[\n  {\n     \"id\": \"doclib\"\n  },\n  {\n     \"id\": \"avatar\"\n  }\n]\n```\n","operationId":"createRendition","consumes":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"in":"body","name":"renditionBodyCreate","description":"The rendition \"id\".","required":true,"schema":{"$ref":"#/definitions/RenditionBodyCreate"}}],"responses":{"202":{"description":"Request accepted"},"400":{"description":"Invalid parameter: **nodeId** is not a valid format or is not a file\nor **renditionBodyCreate** is invalid\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission for **nodeId**"},"404":{"description":"**nodeId** or **renditionId** does not exist\n"},"409":{"description":"All requested renditions already exist"},"501":{"description":"Renditions/thumbnails are disabled for the system"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/alfresco/versions/1/nodes/{nodeId}/renditions/{renditionId}":{"get":{"tags":["renditions"],"summary":"Get rendition information","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nGets the rendition information for **renditionId** of file **nodeId**.\n","operationId":"getRendition","parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"renditionId","in":"path","description":"The name of a thumbnail rendition, for example *doclib*, or *pdf*.","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/RenditionEntry"}},"400":{"description":"Invalid parameter: **nodeId** is not a valid format, or is not a file, or **renditionId** is invalid\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission for **nodeId**"},"404":{"description":"**nodeId** or **renditionId** does not exist\n"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/alfresco/versions/1/nodes/{nodeId}/renditions/{renditionId}/content":{"get":{"tags":["renditions"],"summary":"Get rendition content","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nGets the rendition content for **renditionId** of file **nodeId**.\n","operationId":"getRenditionContent","produces":["application/octet-stream"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a node.","required":true,"type":"string"},{"name":"renditionId","in":"path","description":"The name of a thumbnail rendition, for example *doclib*, or *pdf*.","required":true,"type":"string"},{"name":"attachment","in":"query","description":"**true** enables a web browser to download the file as an attachment.\n**false** means a web browser may preview the file in a new tab or window, but not\ndownload the file.\n\nYou can only set this parameter to **false** if the content type of the file is in the supported list;\nfor example, certain image files and PDF files.\n\nIf the content type is not supported for preview, then a value of **false**  is ignored, and\nthe attachment will be returned in the response.\n","required":false,"type":"boolean","default":true},{"name":"If-Modified-Since","in":"header","description":"Only returns the content if it has been modified since the date provided.\nUse the date format defined by HTTP. For example, `Wed, 09 Mar 2016 16:56:34 GMT`.\n","required":false,"type":"string","format":"date-time"},{"name":"Range","in":"header","description":"The Range header indicates the part of a document that the server should return.\nSingle part request supported, for example: bytes=1-10.\n","required":false,"type":"string","format":"bytes"},{"name":"placeholder","in":"query","description":"If **true** and there is no rendition for this **nodeId** and **renditionId**,\nthen the placeholder image for the mime type of this rendition is returned, rather\nthan a 404 response.\n","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"Successful response","schema":{"type":"file"}},"206":{"description":"Partial Content"},"304":{"description":"Content has not been modified since the date provided in the If-Modified-Since header"},"400":{"description":"Invalid parameter: **nodeId** is not a valid format, or is not a file, or **renditionId** is invalid\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission for **nodeId**"},"404":{"description":"**nodeId** or **renditionId** does not exist\n"},"416":{"description":"Range Not Satisfiable"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/alfresco/versions/1/nodes/{nodeId}/secondary-children":{"get":{"tags":["nodes"],"summary":"List secondary children","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nGets a list of secondary child nodes that are associated with the current parent **nodeId**, via a secondary child association.\n","operationId":"listSecondaryChildren","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a parent node. You can also use one of these well-known aliases:\n* -my-\n* -shared-\n* -root-\n","required":true,"type":"string"},{"name":"where","in":"query","description":"Optionally filter the list by assocType. Here's an example:\n\n*   ```where=(assocType='my:specialAssocType')```\n","required":false,"type":"string"},{"name":"include","in":"query","description":"Returns additional information about the node. The following optional fields can be requested:\n* allowableOperations\n* aspectNames\n* isLink\n* isFavorite\n* isLocked\n* path\n* properties\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"skipCount","in":"query","description":"The number of entities that exist in the collection before those included in this list.\nIf not supplied then the default value is 0.\n","required":false,"type":"integer","default":0,"minimum":0},{"name":"maxItems","in":"query","description":"The maximum number of items to return in the list.\nIf not supplied then the default value is 100.\n","required":false,"type":"integer","default":100,"minimum":1},{"name":"includeSource","in":"query","description":"Also include **source** (in addition to **entries**) with folder information on **nodeId**","required":false,"type":"boolean"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/NodeChildAssociationPaging"}},"400":{"description":"Invalid parameter: **assocType** is unknown or the **nodeId** is not a valid format\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission for **nodeId**"},"404":{"description":"Parent **nodeId** does not exist"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"},"post":{"tags":["nodes"],"summary":"Create secondary child","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nCreate a secondary child association, with the given association type, between the parent **nodeId** and a child node.\n\n**Note:** You can create more than one secondary child association by\nspecifying a list of associations in the JSON body like this:\n\n```JSON\n[\n  {\n    \"childId\": \"string\",\n    \"assocType\": \"string\"\n  },\n  {\n    \"childId\": \"string\",\n    \"assocType\": \"string\"\n  }\n]\n```\nIf you specify a list as input, then a paginated list rather than an entry is returned in the response body. For example:\n\n```JSON\n{\n  \"list\": {\n    \"pagination\": {\n      \"count\": 2,\n      \"hasMoreItems\": false,\n      \"totalItems\": 2,\n      \"skipCount\": 0,\n      \"maxItems\": 100\n    },\n    \"entries\": [\n      {\n        \"entry\": {\n          ...\n        }\n      },\n      {\n        \"entry\": {\n          ...\n        }\n      }\n    ]\n  }\n}\n```\n","operationId":"createSecondaryChildAssociation","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a parent node.","required":true,"type":"string"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"in":"body","name":"secondaryChildAssociationBodyCreate","description":"The child node id and assoc type.","required":true,"schema":{"$ref":"#/definitions/ChildAssociationBody"}}],"responses":{"201":{"description":"Successful response","schema":{"$ref":"#/definitions/ChildAssociationEntry"}},"400":{"description":"Invalid parameter: **assocType** is unknown, or the **nodeId** is not a valid format,\nor **secondaryChildAssociationBodyCreate** invalid\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission to create secondary children of **nodeId**"},"404":{"description":"Parent **nodeId** or **childId** does not exist"},"409":{"description":"An association of this assoc type already exists between these two nodes"},"422":{"description":"Model integrity exception"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/alfresco/versions/1/nodes/{nodeId}/secondary-children/{childId}":{"delete":{"tags":["nodes"],"summary":"Delete secondary child or children","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nDelete secondary child associations between the parent **nodeId** and child nodes for the given association type.\n\nIf the association type is **not** specified, then all secondary child associations, of any type in the direction\nfrom parent to secondary child, will be deleted. The child will still have a primary parent and may still be\nassociated as a secondary child with other secondary parents.\n","operationId":"deleteSecondaryChildAssociation","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a parent node.","required":true,"type":"string"},{"name":"childId","in":"path","description":"The identifier of a child node.","required":true,"type":"string"},{"name":"assocType","in":"query","description":"Only delete associations of this type.","required":false,"type":"string"}],"responses":{"204":{"description":"Successful response"},"400":{"description":"Invalid parameter: **assocType** is unknown or you are trying to delete a primary **assocType**.\nUse delete node instead\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission for **nodeId**"},"404":{"description":"Parent **nodeId** or **childId** does not exist (with given assocType, if specified)"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/alfresco/versions/1/nodes/{nodeId}/parents":{"get":{"tags":["nodes"],"summary":"List parents","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nGets a list of parent nodes that are associated with the current child **nodeId**.\n\nThe list includes both the primary parent and any secondary parents.\n","operationId":"listParents","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a child node. You can also use one of these well-known aliases:\n* -my-\n* -shared-\n* -root-\n","required":true,"type":"string"},{"name":"where","in":"query","description":"Optionally filter the list by **assocType** and/or **isPrimary**. Here are some example filters:\n\n*   ```where=(assocType='my:specialAssocType')```\n\n*   ```where=(isPrimary=true)```\n\n*   ```where=(isPrimary=false and assocType='my:specialAssocType')```\n","required":false,"type":"string"},{"name":"include","in":"query","description":"Returns additional information about the node. The following optional fields can be requested:\n* allowableOperations\n* aspectNames\n* isLink\n* isFavorite\n* isLocked\n* path\n* properties\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"skipCount","in":"query","description":"The number of entities that exist in the collection before those included in this list.\nIf not supplied then the default value is 0.\n","required":false,"type":"integer","default":0,"minimum":0},{"name":"maxItems","in":"query","description":"The maximum number of items to return in the list.\nIf not supplied then the default value is 100.\n","required":false,"type":"integer","default":100,"minimum":1},{"name":"includeSource","in":"query","description":"Also include **source** (in addition to **entries**) with folder information on **nodeId**","required":false,"type":"boolean"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/NodeAssociationPaging"}},"400":{"description":"Invalid parameter: **assocType** is unknown or the **nodeId** is not a valid format\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission for **nodeId**"},"404":{"description":"Child **nodeId** does not exist"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/alfresco/versions/1/nodes/{nodeId}/targets":{"get":{"tags":["nodes"],"summary":"List target associations","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nGets a list of target nodes that are associated with the current source **nodeId**.\n","operationId":"listTargetAssociations","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a source node.","required":true,"type":"string"},{"name":"where","in":"query","description":"Optionally filter the list by **assocType**. Here's an example:\n\n*   ```where=(assocType='my:specialAssocType')```\n","required":false,"type":"string"},{"name":"include","in":"query","description":"Returns additional information about the node. The following optional fields can be requested:\n* allowableOperations\n* aspectNames\n* isLink\n* isFavorite\n* isLocked\n* path\n* properties\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/NodeAssociationPaging"}},"400":{"description":"Invalid parameter: **assocType** is unknown or the **nodeId** is not a valid format\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission for **nodeId**"},"404":{"description":"Source **nodeId** does not exist"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"},"post":{"tags":["nodes"],"summary":"Create node association","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nCreate an association, with the given association type, between the source **nodeId** and a target node.\n\n**Note:** You can create more than one association by\nspecifying a list of associations in the JSON body like this:\n\n```JSON\n[\n  {\n     \"targetId\": \"string\",\n     \"assocType\": \"string\"\n  },\n  {\n    \"targetId\": \"string\",\n    \"assocType\": \"string\"\n  }\n]\n```\nIf you specify a list as input, then a paginated list rather than an entry is returned in the response body. For example:\n\n```JSON\n{\n  \"list\": {\n    \"pagination\": {\n      \"count\": 2,\n      \"hasMoreItems\": false,\n      \"totalItems\": 2,\n      \"skipCount\": 0,\n      \"maxItems\": 100\n    },\n    \"entries\": [\n      {\n        \"entry\": {\n          ...\n        }\n      },\n      {\n        \"entry\": {\n          ...\n        }\n      }\n    ]\n  }\n}\n```\n","operationId":"createAssociation","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a source node.","required":true,"type":"string"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"in":"body","name":"associationBodyCreate","description":"The target node id and assoc type.","required":true,"schema":{"$ref":"#/definitions/AssociationBody"}}],"responses":{"201":{"description":"Successful response","schema":{"$ref":"#/definitions/AssociationEntry"}},"400":{"description":"Invalid parameter: **assocType** is unknown, or the **nodeId** is not a valid format,\nor **associationBodyCreate** invalid\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission for **nodeId**"},"404":{"description":"Source **nodeId** or **targetId** does not exist"},"409":{"description":"An association of this assoc type already exists between these two nodes"},"422":{"description":"Model integrity exception"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/alfresco/versions/1/nodes/{nodeId}/targets/{targetId}":{"delete":{"tags":["nodes"],"summary":"Delete node association(s)","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nDelete an association, or associations, from the source **nodeId* to a target node for the given association type.\n\nIf the association type is **not** specified, then all peer associations, of any type, in the direction\nfrom source to target, are deleted.\n\n**Note:** After removal of the peer association, or associations, from source to target, the two nodes may still have peer associations\nin the other direction.\n","operationId":"deleteAssociation","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a source node.","required":true,"type":"string"},{"name":"targetId","in":"path","description":"The identifier of a target node.","required":true,"type":"string"},{"name":"assocType","in":"query","description":"Only delete associations of this type.","required":false,"type":"string"}],"responses":{"204":{"description":"Successful response"},"400":{"description":"Invalid parameter: **assocType** is unknown, or the **nodeId** is not a valid format, or **targetId** is invalid\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission for **nodeId**"},"404":{"description":"Source **nodeId** or **targetId** does not exist (with given assocType, if specified)"},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}},"x-alfresco-since":"5.2"}},"/alfresco/versions/1/nodes/{nodeId}/sources":{"get":{"tags":["nodes"],"summary":"List source associations","description":"**Note:** this endpoint is available in Alfresco 5.2 and newer versions.\n\nGets a list of source nodes that are associated with the current target **nodeId**.\n","operationId":"listSourceAssociations","produces":["application/json"],"parameters":[{"name":"nodeId","in":"path","description":"The identifier of a target node.","required":true,"type":"string"},{"name":"where","in":"query","description":"Optionally filter the list by **assocType**. Here's an example:\n\n*   ```where=(assocType='my:specialAssocType')```\n","required":false,"type":"string"},{"name":"include","in":"query","description":"Returns additional information about the node. The following optional fields can be requested:\n* allowableOperations\n* aspectNames\n* isLink\n* isFavorite\n* isLocked\n* path\n* properties\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"fields","in":"query","description":"A list of field names.\n\nYou can use this parameter to restrict the fields\nreturned within a response if, for example, you want to save on overall bandwidth.\n\nThe list applies to a returned individual\nentity or entries within a collection.\n\nIf the API method also supports the **include**\nparameter, then the fields specified in the **include**\nparameter are returned in addition to those specified in the **fields** parameter.\n","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/NodeAssociationPaging"}},"400":{"description":"Invalid parameter: **nodeId** is not a valid format or **assocType** is unknown\n"},"401":{"description":"Authentication failed"},"403":{"description":"Current user does not have permission for **nodeId**"},"404":{"description":"Target **nodeId** does not exist"},"default":{"description":"Unexpected error","schem
[...]
