<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alfresco.auth">

    <application>
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            tools:node="remove">
        </activity>
    </application>
</manifest>
